/**Propiedades generales**/

html {
    background: linear-gradient(23deg, #6d95da, #7f9fd6);
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
}

header {
    height: 25vh;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}


/**Arco navbar**/

@media (min-width: 768px) {
    .curva {
        position: absolute;
        top: -25%;
        left: 0.7%;
        right: 0.7%;
        padding: 15rem;
        border: solid 1px;
        border-color: rgba(255, 255, 255, 1);
        z-index: -1;
        -webkit-box-shadow: -26px 21px 49px 28px rgba(255, 255, 255, 1);
        -moz-box-shadow: -26px 21px 49px 28px rgba(255, 255, 255, 1);
        box-shadow: inset -26px 21px 49px 28px rgba(255, 255, 255, 1);
        transform: rotate(2deg);
    }
}

.curva {
    position: absolute;
    top: -25%;
    left: 0%;
    right: 0%;
    padding: 15rem;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 1);
    z-index: -1;
    -webkit-box-shadow: -26px 21px 49px 28px rgba(255, 255, 255, 1);
    -moz-box-shadow: -26px 21px 49px 28px rgba(255, 255, 255, 1);
    box-shadow: inset -26px 21px 49px 28px rgba(255, 255, 255, 1);
}


/**Navbar y Logo**/

.titulo {
    display: flex;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    justify-content: flex-start;
    margin: auto;
    height: 7.8rem;
    background-color: white;
    box-shadow: 5px 5px #00000042;
    padding-right: 1rem;
    z-index: 2;
}

@media (max-width:768px) {
    .contenedor {
        display: none;
    }
}

@media (min-width: 768px) {
    .contenedor {
        display: flex;
        justify-content: space-around;
        transform: skew(-50 deg) rotate(-70deg) scale(1);
    }
    .contMovil {
        display: none;
    }
    .link {
        text-decoration: none;
        font-size: 2.5rem;
        transition: all 0.5s;
        color: black;
    }
    .link:first-of-type {
        text-decoration: none;
        position: relative;
        top: -5px;
    }
}

.link:nth-child(2):hover {
    color: rgb(211, 137, 1);
}

.blog {
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-left: 2px;
}

.link:hover~.blog {
    width: 20rem;
}

@media (max-width:768px) {
    .titulo {
        position: absolute;
        display: flex;
        font-family: 'PT Sans', sans-serif;
        background-color: white;
        padding-right: 1rem;
    }
}

.x {
    font-family: 'PT Sans', sans-serif;
    font-size: 72px;
    background: -webkit-linear-gradient( #00e8e8, #ff6767);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #188be852;
    padding: 0.5rem;
    border-width: 0px
}

.titulo:last-of-type {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    color: #66bbdd;
}


/**Menu Hamburguesa y Contenedor Movil**/

@media (min-width:768px) {
    input {
        display: none;
    }
    .hamburguesa {
        display: none;
    }
}

@media (max-width: 768px) {
    .hamburguesa {
        position: fixed;
        right: 0%;
        cursor: pointer;
        padding: 1rem;
        transition: all 0.5s;
        background-color: #ffffff75;
        width: 44px;
        height: 34px;
        z-index: 3;
    }
    .ham {
        background-color: #000000c7;
        width: 3rem;
        padding: 3px;
        margin: 4px;
        border: 1px;
        transition: all .2s;
    }
    .hamburguesa.activa {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7f9fd600;
    }
    .activa .ham:nth-child(1) {
        background-color: rgb(0, 195, 255);
        transform: rotate(60deg) skewX(-34deg);
        position: fixed;
        padding-left: 1rem;
    }
    .activa .ham:nth-child(2) {
        background-color: rgb(0, 183, 255);
        transform: rotate(-60deg) skewX(34deg);
        position: fixed;
        padding-left: 1rem;
    }
    .activa .ham:nth-child(3) {
        opacity: 0;
    }
    /**Fondo**/
    .fondo {
        position: fixed;
        right: -4000px;
        padding: 100% 27%;
        background-color: white;
        z-index: 2;
        transition: all 0.3s;
    }
    .fondo.activa {
        position: fixed;
        right: 0%;
        border: solid #ffffff;
        box-shadow: -8px 2px 20px 0px black;
        background-color: white;
        transition: all 0.7s;
    }
    .transparente {
        transition: all 1s;
    }
    .transparente.activa {
        background-color: #7f9fd6ad;
        padding: 80rem;
        z-index: 1;
        position: fixed;
    }
    /**Contenedor Movil**/
    .contMovil {
        display: grid;
        grid-auto-flow: row;
        background-color: darkgray;
    }
    .contMovil>a {
        position: fixed;
        left: 1000px;
        transition: all 0.5s;
        z-index: 2;
        color: black;
    }
    .contMovil>a:nth-child(1) {
        top: 19%;
    }
    .contMovil>a:nth-child(2) {
        top: 35%;
    }
    .contMovil>a:nth-child(3) {
        top: 51%;
    }
    .contMovil>a:nth-child(4) {
        top: 66%;
    }
    .contMovil.left>a:nth-child(1) {
        position: fixed;
        top: 19%;
        left: 70%;
        transition: all 0.6s;
    }
    .contMovil.left>a:nth-child(2) {
        position: fixed;
        top: 35%;
        left: 69%;
        transition: all 0.7s;
    }
    .contMovil.left>a:nth-child(3) {
        position: fixed;
        top: 51%;
        left: 68%;
        transition: all 0.8s;
    }
    .contMovil.left>a:nth-child(4) {
        position: fixed;
        top: 66%;
        left: 69%;
        transition: all 0.9s;
    }
    .contMovil>a {
        margin-top: 1rem;
        text-decoration: none;
        font-size: 2rem;
    }
}


/** Carrusel **/

.carrusel {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 0rem 1fr 0rem;
    justify-items: center;
    z-index: -1;
}

.carrusel-img {
    display: flex;
    overflow-x: scroll;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    /* This is the mainly problematic line*/
    overflow: hidden;
    z-index: -2;
}

img {
    max-width: 100%;
}

.slide {
    width: 100%;
}

.atras {
    display: inline-grid;
    align-content: center;
    font-size: 5vw;
    z-index: 0;
    margin-left: 3rem;
    cursor: pointer;
    color: rgba(245, 245, 245, 0.5);
    transition: color 0.5s;
}

.atras:hover {
    color: white;
}

.adelante {
    display: inline-grid;
    align-content: center;
    font-size: 5vw;
    z-index: 0;
    margin-right: 3rem;
    cursor: pointer;
    color: rgba(245, 245, 245, 0.5);
    transition: color 0.5s;
}

.adelante:hover {
    color: white;
}

.carrusel-pos {
    display: flex;
    justify-content: center;
}

.punto {
    margin-top: -3rem;
    padding: 6px;
    border: 1px;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    border-style: solid;
    border-color: rgba(79, 79, 255, 0.596);
    cursor: pointer;
    z-index: 0;
    transition: all 0.3s;
}

.activo {
    background-color: rgba(0, 255, 170, 0.521);
}

.punto:hover {
    background-color: whitesmoke;
}

.punto.activo:hover {
    background-color: rgb(245, 80, 80);
}

.lorem {
    font-size: 2rem;
}